In [4]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.3.0)

In [6]:
import mysql.connector as connector

In [10]:
connection = connector.connect(user="little_lemon", password="littlelemon", db="LittleLemonDB")

In [16]:
sql = connection.cursor()

In [18]:
show_tables_query = "SHOW tables" 
sql.execute(show_tables_query)

In [20]:
results = sql.fetchall()
print(results)

[('Booking',), ('Customer',), ('Menu',), ('Order_delivery_status',), ('order_menu',), ('Orders',), ('ordersview',), ('Staff',)]

In [ ]:
query = """
SELECT 
    CONCAT(Customer.first_name, ' ', Customer.last_name) AS full_name,
    Customer.email,
    Orders.total_cost
FROM 
    Customer
INNER JOIN Booking ON Customer.customer_id = Booking.customer_id
INNER JOIN Orders ON Booking.booking_id = Orders.booking_id
WHERE 
    Orders.total_cost > 60;
"""

sql.execute(query)

results = sql.fetchall()
for row in results:
    print("Name:", row[0], "| Contact:", row[1], "| Bill: $", row[2])

***Won't get results as the tables are empty***